<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    
    <title>Mundial Guayerd 2022</title>
</head>
<body>
   <header class="header">
       <nav class="contenedor_de_navegacion">
            <h1>La Scaloneta</h1>
            <ul class="mobile desktop">
                <li><a href="/view/home.html">Home</a></li>
                <li><a href="/view/login.html">Login</a></li>
                <li><a href="">al</a></li>
                <li><a href="">gin</a></li>
                <li><a href="">me</a></li>
                <li><a href="">Lsn</a></li>
            </ul>
            <div class="burger" id="burger">
                <img src="../public/img/burguer.png" alt="menu_burquer" srcset="">
            </div>
        </nav>
    </header>
    <main>
        <section class="busqueda">
            <form class="search_jugador hidden">
                <fieldset class="campo_de_busqueda">
                    <input type="text" name="jugador" id="jugador" placeholder="encuentra a tu jugador">
                    <span ></span>
                    <input type="submit" value="Buscar">
                </fieldset>
            </form>
        </section>
        <section class="jugador">
            <article>
                <h3>Messirve</h3>
            </article>
        </section>
    </main>

</body>
</html>

<script src="../js/eventos.js"></script>