<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Registrarse</title>
</head>
<body>
    <header class="header">
        <nav class="contenedor_de_navegacion">
             <h1>La Scaloneta</h1>
             <ul class="mobile desktop">
                 <li><a href="/view/home.html">Home</a></li>
                 <li><a href="/view/login.html">Login</a></li>
                 
             </ul>
             <div class="burger" id="burger">
                 <img src="../public/img/burguer.png" alt="menu_burquer" srcset="">
             </div>
         </nav>
     </header>
     <main>
        <section class="contenedor_form">
            <form class="form_general hidden" name="form">
                <fieldset class="campo_de_busqueda">
                    <input type="text" name="usuario" id="usuario" placeholder="ingrese nombre de usuario" required>
                    <span ></span>
                    
                    <input type="text" name="nombre" id="nombre" placeholder="ingrese nombre completo" required>
                    <span ></span>

                    <input type="text" name="apellido" id="apellido" placeholder="ingrese apellido completo" required>
                    <span ></span>
                    
                    <input type="email" name="email" id="email" placeholder="ingrese mail" required minlength="5">
                    <span ></span>

                    <input type="password" name="pass_user" id="pass_user" placeholder="ingrese contraseña" maxlength="16">
                    <span ></span>

                    <input type="password" name="password_confirm" id="password_confirm" placeholder="reingrese contraseña" maxlength="16">
                    <span ></span>

                    <input type="submit" value="registrarse" name="registrarse">
                </fieldset>
            </form>
        </section>
    </main>
</body>
</html>

<script src="../js/eventos_nav.js"></script>
<script src="../js/validar_forms.js"></script>
<script src="../js/eventos_register.js"></script>
<script src="../js/registrados.js"></script>